/* //-----------------The Web Open Font Format (WOFF)-----------------// */

@font-face {
    font-family: barlow-b;
    src: url(https://www.w3.org/TR/2022/REC-WOFF2-20220310/);
    font-display: swap;
}

.font-barlow-b {
    font-family: barlow-b;
}

@media only screen and (max-width: 768px) {
    .customSidebar {
        display: none;
    }
}
